@font-face {
    font-family: bariol Regular;
    src: url('font/Bariol.ttf');
}

body {
    background-color: #bfbfbf;
    font-family: bariol Regular;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Controla o iframe dos dashboards */

iframe {
    width: 100%;
    min-height: -webkit-calc(100vh - 50px);
    min-height: -moz-calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    max-height: auto;
}

table {
    font-size: 11px;
}

.jumbotron {
    background-color: #337AB7;
    color: white;
    text-align: center;
    font-size: 15px;
    width: auto;
    height: auto;
    padding: 3px;
}