<html>
    <style type="text/css">
        dt {
            text-align: center;
        }
        img {
            max-width: 100%;
        }
        .grupo {
            padding-bottom: 2%;
        }
    </style>
    <body>			
        <div id="diario" class="grupo">
            <dl>
                <dt><img src="cid:cidCD">
                <dt class="separador"><img src="cid:cidInadimplencia">
                <dt class="sepadador"><img src="cid:cidEsp">
                <dt class="separador"><img src="cid:cidVendas">
                <dt class="sepadador"><img src="cid:cidEsp">
                <dt class="separador"><img src="cid:cidOcupacao">
                <dt class="sepadador"><img src="cid:cidEsp">
                <dt class="separador"><img src="cid:cidFluxo">
                <dt class="sepadador"><img src="cid:cidEsp">
                <dt class="separador"><img src="cid:cidEstacionamentoReceita"> 
                <dt class="sepadador"><img src="cid:cidEsp">
                <dt class="separador"><img src="cid:cidEstacionamentoFluxo"> 
                <dt class="sepadador"><img src="cid:cidEsp">
                <dt class="sepadador"><img src="cid:cidLegenda">                
            </dl>
        </div>
    </body>
</html>